<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @email %></h1>
    <p>
      Your favorite show <%= @show_name %> will be telecast in the channel <%= @channel %> at <%= @timing %>
    </p>

    <p>Thank you</p>
  </body>
</html>